<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/getBoardList.css">
    <title>자유게시판</title>
</head>

<body>
    <h1>게시글 목록</h1>
    <table>
        <thead>
            <tr>
                <th bgcolor="#deb887" scope="col">번호</th>
                <th bgcolor="#deb887" scope="col">제목</th>
                <th bgcolor="#deb887" scope="col">작성자</th>
                <th bgcolor="#deb887" scope="col">등록일</th>
                <th bgcolor="#deb887" scope="col">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.seq}"></td>
                <td>
                    <a th:href="@{/getBoard(seq=${board.seq})}">
                        <span th:text="${board.title}"></span>
                        <div>요약입니다</div>
                    </a>
                </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.createDate}"></td>
                <td th:text="${board.cnt}"></td>
            </tr>
        </tbody>
    </table>
         <button th:href="@{/insertBoard}">쓰기</button>
</body>
</html>