<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>게시 글 상세</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">

</head>
<body>
    <h1 th:align="center">게시글 상세</h1>
    <main>
        <div>
            <div>카테고리</div>
            <div th:text="${board.title}">제목입니다</div>
        </div>
        <div>
            <div th:text="${board.writer}">작성자</div>
        </div>
        <div>
            <div th:text="${board.createDate}">작성날짜</div>
            <div th:text="${board.createDate}">
                <b>조회수</b>
                <span th:text="${board.cnt}">12</span>
            </div>
        </div>
        <article th:text="${board.content}"></article>
        <div>
            <a th:href="${/getBordList}">글목록</a>
            <div>
                <input type="button" name="글수정" th:href="${/updateBoard(seq=${board.seq})}">
                <form action="deleteBoard" method="post">
                    <input type="hidden" name="seq" th:value="${board.seq}">
                    <button onclick="this.submit()"></button>
                </form>
            </div>
        </div>
    </main>

</body>
</html>