<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello world
    <a href="/hello">hello </a>
    <a href="/getBoardList">게시판연결</a>
    <a href="/insertBoard">새글</a>
    <a href="/getBoard">상세글</a>
    <a href="https://www.naver.com">naver! </a>
    <p th:text="${msg}"></p>
    <hr>

    <h1>회원가입</h1>
    <form method="POST" action="/account">
        <!---------input태그의 id1변수이름으로 데이터를 서버에전달하고-------->
        <!---------서버 model에서 받아온 id2변수이름으로 데이터를 html에 출력------->
        <input type="text" name="id1" th:value="${id2}"/>
        <input type="submit" value="click"/>
    </form>
</body>
</html>