<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <title>Web main page</title>

</head>
<body>

<!--HEADER-->
<header>
    <h5 class="Web_Name">Shout Out Your Music</h5>
    <img src="img/logo.png" alt="이미지가표시되지않습니다">
    <img src="img/main.jpg">
    <!--이미지(로고,배경화면)-->

<!--nav-->
<nav>
    <div class="grid-container">
    <div class="title">웹 소개</div>
    <div class="title">작곡해보기</div>
    <div class="title">게시판</div>
    <div class="title">my menu</div>
    <div class="."> </div>
    <div class="nav5">자유게시판</div>
    <div class="nav6">작곡하기</div>
    <div class="nav7">회원정보변경</div>
    <div class="."> </div>
    <div class="nav8">작곡게시판</div>
    <div class="."> </div>
    <div class="."> </div>
    <div class="."> </div>
    <div class="nav9">문의하기</div>
    </div>
</nav>
</header>
<hr>





</body>
</html>