<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/test/board.css">
    <title>Web main page</title>

</head>
<body>
<p class="Web_Name">Shout Out Your Music</p>
<!--HEADER-->
<header>
    <h5 class="Web_Name">Shout Out Your Music</h5>
    <div class="logo_img" alt="이미지가표시되지않습니다"></div>
    <!--이미지(로고,배경화면)-->

<!--nav-->
<nav>
    <div class="grid-container">
    <div class="nav1">웹 소개</div>
    <div class="nav2">작곡해보기</div>
    <div class="nav3">게시판</div>
    <div class="nav4">my menu</div>
    <div class="nav5">작곡하기</div>
    <div class="nav6">자유게시판</div>
    <div class="nav7">회원정보변경</div>
    <div class="nav8">작곡게시판</div>
    <div class="nav9">문의하기</div>
    <div class="nav10">마이페이지</div>
    </div>
</nav>
</header>
<hr>





</body>
</html>